@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aldrich');


.background {
    height: 94vh;
    background: linear-gradient(to bottom, rgb(230, 230, 230), rgb(219, 219, 219));
    background-size: cover;
}

.t-color {
    color: rgb(0, 0, 0);
}

.pad-20 {
    padding-top: 20px;
}

.marg-10 {
    margin-bottom: 10px;
}

.marg-10-important {
    margin-bottom: 10px !important;
}

.marg-top-20-important {
    margin-top: 20px !important;
}

.half-right {
    width: 50%;
    float: left;
    display: inline-block;
}

.half-left {
    width: 50%;
    display: inline-block;
}

.header {
    width: 100%;
    height: 6vh;
    background: #2e2e2e;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: 0;
}

.menu-bar {
    height: 94vh;
    width: 50vh;
    background: linear-gradient(to bottom, rgb(220, 220, 220), rgb(209, 209, 209));
    border-right: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 2px #1b1b1b;
    float: left;
}

.char-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Grandstander', sans-serif
}

.select-conf {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.box-shadow {
    position:sticky;
    box-shadow: 0px 0px 8px 2px #000000;
}

.char-card {
    height: 35vh;
    width: 50vh;
}

.margin-remove {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.char-image-card {
    height: 20vh;
    width: 16vh;
    margin: auto;
    padding: 10px;
}

.vision-image-card {
    width: 6vh;
    margin: auto;
    padding: 10px;
}

select {
    width: 150px;
    height: 25px;
    display: block;
    margin: 0 auto;
    font-family: Arial;
    text-align-last: center;
    background-color: transparent;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Aldrich';font-size: 18px;
}

select:focus {
    outline-width: 0;
}

select option {
    margin: 40px;
    background: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    font-family: 'Aldrich';font-size: 18px;
}

.text-center {
    display: block;
    margin: 0 auto;
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aldritch-font {
    font-family: 'Aldrich';font-size: 18px;
}

.height-25 {
    height: 25px;
}

.align-left {
    text-align-last: right;
}

.float-left {
    float: left;
}

.box-shadow-thin {
    position:sticky;
    box-shadow: 0px 0px 6px 4px #000000;
}

.item-box {
    width: 7vh;
    height: 7vh;
    background: transparent;

}

.item-menu-center {
    height: 25vh;
    background: green;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}